<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<div class="container">
    <h2>Título da Categoria</h2>
    <form class="mt-2">
        <div class="form-group">
            <label>Nome da categoria</label>
            <input type="text" name="title" placeholder="Defina o título" class="form-control">
        </div>
        
        <button class="btn btn-success">Enviar</button>
    </form>
</div>

<%- include('../../partials/footer') %>
